# exclude workflows
.github/workflows

# exclude all typescript files
**/*.ts

# include samples
!examples/*.ts

# exclude utility script for builds
./scripts/update-package-version.*

# exclude package manager lock files
package-lock.json